body{
	background:url(../articulo.jpg) no-repeat;
	background-size: cover;
}
h1{
	color:gray;
}
.form-container{border: 1px solid #fff; padding:50px 60px;margin-top:5%;
-webkit-box-shadow: 0px 0px 207px 22px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 207px 22px rgba(0,0,0,0.75);
box-shadow: 0px 0px 207px 22px rgba(0,0,0,0.75);
}
label{
	color:black;
}
.span4 {
    float: left;
     margin-left: 160px; 
    width: 800px;
}
.span8{
	float: right;
	width: 800px;
  	margin-left: 160px; 
	margin-top: 10%;
}
.lbl_cat{
	font-size: 20px;
}
h1{
	color: green;
}
textarea{
	margin-top: 6%;
}
.lblbusq{
	color: blue;
}
.shopping-cart {
  width: 750px;
  height: 423px;
  margin-top: 80%;
  margin-left: 160px; 
  background: #FFFFFF;
  box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
  border-radius: 6px;
 
  display: flex;
  flex-direction: column;
}
.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #5f4966;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #d2ffc1;
    display: block;
}

.sidenav a:hover {
    color: #c1e1ff;
}

.main {
    margin-left: 160px; 
    font-size: 28px;
    padding: 0px 10px;
}